<ul class="links">
    <!-- You can add links (to your social media profiles for example) below -->
    <li class="rss"><a rel="alternate" type="application/rss+xml" href="{{ .Params.BaseURL }}feed.xml" title="RSS Feed">RSS Feed</a></li>
    <li class="github"><a rel="me" href="https://github.com/maxvoltar/photo-stream" title="Fork on Github">Github</a></li>
    <li class="link"><a rel="me" href="https://twitter.com/{{ .Params.twitter_username }}" title="@{{ .Params.twitter_username }} on Twitter">Twitter</a></li>
    <!-- <li class="link"><a rel="me" href="https://github.com/{{ .Params.github_username }}" title="@{{ .Params.github_username }} on Github">Github</a></li> -->
    <!-- <li class="link"><a rel="me" href="https://instagram.com/{{ .Params.instagram_username }}" title="@{{ .Params.instagram_username }} on Instagram">Instagram</a></li> -->
</ul>